.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.partners,
.propose,
.bussiness {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/about-bg.png");
  border-radius: 20px;
  background-color: #1c1c1c;
}

.partners-content {
  padding: 24px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.propose .text {
  padding: 24px;
  padding-right: 40px;
}

.bussiness .text {
  padding: 24px;
  padding-left: 40px;
}

.main img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 13px 4px 15px 0px rgba(28, 28, 28, 0.6);
  transition: scale 0.5s;
}

.main img:hover {
  scale: 1.05;
}

.propose img {
  box-shadow: -13px 4px 15px 0px rgba(28, 28, 28, 0.6);
}

.action-button {
  margin: 0 auto;
}

.partners-bg {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: -1;
}

.action-button.first {
  margin-bottom: 50px;
}

@media all and (width < 1024px) {
  .partners-content {
    gap: 16px;
  }

  .partners-bg {
    display: none;
  }
}

@media all and (width < 768px) {
  .partners,
  .propose,
  .bussiness {
    display: flex;
    flex-direction: column;
  }

  .propose img {
    order: -1;
  }

  .partners-content,
  .propose .text,
  .bussiness .text {
    padding: 32px 8px;
  }
}
